.about {
    padding-bottom: 2rem;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background: 
            linear-gradient(
                to right,
                rgba($primary-color, 0.9),
                rgba($primary-color, 0.3)
            ),
            url('../img/background.jpg')center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p {
            margin-bottom: 2rem;
        }
    }

    &__bio {
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
            color: $white;
            
            span {
                color: $secondary-color;
            }
        }
        p {
            font-size: 19px;
        }
    }

    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        h1 {
            color: $white;
        }

        .line {
            text-decoration: underline;
            text-decoration-color: $secondary-color;
        }

        &__job {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid darken($secondary-color, 5%);

            h2, h3 {
                margin: 0.5rem 0;
            }
            h5 {
                margin: 0.3rem 0;
            }
            p {
                margin: 0.2rem 0;
            }
        }
    }

    .education {
        @extend .jobs;

        &__edu {
            @extend .jobs__job;
        }
    }

    .skills-section {
        @extend .jobs;

        .skills_list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
            padding: 0 auto;
            margin-bottom: 2rem;
        }
        .skill {
            position: relative;
            margin-bottom: 5px;
            
            &_title {
                font-size: 18px;
                margin-bottom: 5px;
            }

            &_bar {
                width: 100%;
                height: 15px;
                background: #ffffff99;
                position: absolute;
                border-radius: 100px;
                z-index: -1;
            }

            &_fill {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: $fill-color;
                height: 15px;
                padding-right: 30px;
                overflow: hidden;
                border-radius: 100px;
            }

            &_percent {
                font-size: 15px;
            }

            .html {
                animation: html 2s;
                width: 95%;
            }
            .css {
                animation: css 2s;
                width: 95%;
            }
            .js {
                animation: js 2s;
                width: 90%;
            }
            .ts {
                animation: js 2s;
                width: 90%;
            }
            .python {
                animation: js 2s;
                width: 88%;
            }
            .django {
                animation: js 2s;
                width: 85%;
            }
            .angular {
                animation: js 2s;
                width: 88%;
            }
            .react {
                animation: js 2s;
                width: 85%;
            }
            .node {
                animation: js 2s;
                width: 85%;
            }
            .sass {
                animation: js 2s;
                width: 90%;
            }
            @keyframes html {
                from {
                    width: 0;
                }
                to {
                    width: 95%;
                }
            }
            @keyframes css {
                from {
                    width: 0;
                }
                to {
                    width: 95%;
                }
            }
            @keyframes js {
                from {
                    width: 0;
                }
                to {
                    width: 90%;
                }
            }
            @keyframes ts {
                from {
                    width: 0;
                }
                to {
                    width: 90%;
                }
            }
            @keyframes python {
                from {
                    width: 0;
                }
                to {
                    width: 88%;
                }
            }
            @keyframes django {
                from {
                    width: 0;
                }
                to {
                    width: 85%;
                }
            }
            @keyframes angular {
                from {
                    width: 0;
                }
                to {
                    width: 88%;
                }
            }
            @keyframes react {
                from {
                    width: 0;
                }
                to {
                    width: 85%;
                }
            }
            @keyframes node {
                from {
                    width: 0;
                }
                to {
                    width: 85%;
                }
            }
            @keyframes sass {
                from {
                    width: 0;
                }
                to {
                    width: 90%;
                }
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        position: relative;
        // transform: 
        // rotate(90deg)
        // translate(-3rem, -5rem); 
    }
}