.contact {
    height: 100%;
    padding-top: 40vh;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
        url('../img/background.jpg') center top;
    background-size: cover;

    &_title {
        font-size: 3rem;
        margin-top: -13rem;
        margin-bottom: 2rem;

        span {
            color: $secondary-color;
        }
    }

    // &__list {
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     grid-gap: 2rem;
    //     font-size: 1.5rem;
    // }

    &_form {
        width: 35%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;

        &_item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
                margin-bottom: 0.5rem;
            }
            input {
                height: 25px;
            }
            textarea {
                font-size: 16px;
            }
        }
        
        #btn {
            width: 120px;
            height: 40px;
            background: $secondary-color;
            border-radius: 100px;
            color: #ffffff;
            font-size: 0.9rem;
            cursor: pointer;
        }
    }

    .social-icons {
        position: fixed;
        // margin-top: 2rem;
        @include transition-ease;
    }
}